@import 'base/base';

body {
  margin:0;
  padding:0;
}

$padding : 1em;

.grid {
  @include grid($padding);
  justify-content: center;
}


.responsive-square {
  @include responsive-wrapper(1, 1);
}

.responsive-4-3 {
  @include responsive-wrapper(4, 3);
}

.responsive-16-9 {
  @include responsive-wrapper(16, 9);
}

.grid-fixed {
  justify-content: center;
  @include grid-fixed((6: 100%, 5: 900px, 4: 800px, 3: 700px, 2: 600px, 1: 500px), $padding);
}

.popup-menu-vertical {
  @extend %popup-menu;
  display: flex;
  flex-direction: row;
}

.popup-menu-horizontal {
  @extend %popup-menu;
}

